[submodule "codewars"]
	path = codewars
	url = https://github.com/Yurizaki/codewars.git
[submodule "projecteuler"]
	path = projecteuler
	url = https://github.com/Yurizaki/projecteuler.git
[submodule "buildyourown"]
	path = buildyourown
	url = https://github.com/Yurizaki/buildyourown.git
